





.filter-options {
    display: none;
    margin-top: 5px;
}
.filter-options.show {
    display: block;
}
.filters label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.filter-group button:hover{
    cursor: pointer;
}



#wrapper{
    display: flex;
    margin-top: 3%;
    margin-bottom: 12%;
    padding-right: 3%;
    padding-left: 3%;
}
.space{
    height: 10vh;
}
#controls {
    border-top: 2px solid #646056;
    border-bottom: 2px solid #646056;
    display: flex;
    justify-content: right;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 8%;
    font-size: 18px;
    color: #646056;
}
#controls button{
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #bababa;
}
.control{margin-left: 6%; margin-right: 10px;}
.sort-select{
    background: none;
    border: none;
    margin-left: 10px;
}
.sort-select option{
    color: #bababa !important;
}
aside {
    position: sticky;
    top: 100px;
    width: 20%;
    align-self: flex-start;
}
.span-button{
    float: right;
}
.span-button button{
    border: none;
    background: none;
    font-size: 18px;
}
ul{
    all: unset;
    list-style: none;
}
#clear_btn:hover{
    cursor: pointer;
}


.highlighted {
    background-color: #ccc;
}



.product_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.product.grid_view{
    width: 32vw;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
}
.product.list_view{
    width: 24vw;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    aspect-ratio: 4 / 3;
}
.color-dots{
    height: 6vh;
    padding-top: 2vh;
}
.color-dot{
    display: inline-block;
    width: 3vh;
    height: 3vh;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.2s ease;
}
.color-dot:hover {
    transform: scale(1.2);
    border-color: #888;
}

.name,
.designer,
.price {
    margin-top: 8px;
}
.name{
    text-decoration: none;
    color: #646056;
}
.name:hover{
    text-decoration: underline;
}
.name b{
    font-size: 20px;
}
.rights{
    font-size: 24px;
    float: right;
}
#line{
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
    border-bottom: 1px solid #646056;
}

.reaction button{
    padding: 4px;
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    transition-duration: 1.5s;
}
.reaction i{
    color: #646056;
    transition-duration: 1.5s;
}
.reaction button:hover{
    background: #646056;
    cursor: pointer;
}
.reaction button:hover>i{
    color: #f8f8f8;
}


