*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}


.space{
    height: 12vh;
}

.categories_list{
    padding-left: 10%;
    height: 110vh;
    font-size: 6.2vh;
    padding-top: 10%;
}
.categories_list a{
    text-decoration: none;
    letter-spacing: 1.667vw;
    color: rgba(100, 96, 86, 1);
    display: inline-block;
    height: 4.63vh;
    line-height: 4.63vh;
    transition: all 0.3s ease;
}
.categories_list a:hover{
    font-family: "Viaoda Libre", serif;
    color: rgba(100, 96, 86, 1);
    text-shadow: 3px 2px 4px rgba(141, 141, 141, 0.93);
    letter-spacing: 4vw;

}